# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Databricks
.databricks/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db